package {{ pkg_name }}.dagger.modules

import {{ pkg_name }}.presentation.main.MainActivity
import dagger.Module
import dagger.android.ContributesAndroidInjector

@Suppress("unused")
@Module
abstract class ActivityModule {

    @ContributesAndroidInjector(modules = [FragBuildersModule::class])
    abstract fun contributeMainActivity() : MainActivity

}