package {{ pkg_name }}.dagger.modules

import {{ pkg_name }}.data.auth.AuthManager
import {{ pkg_name }}.data.auth.AuthManagerImpl
import dagger.Binds
import dagger.Module

@Suppress("unused")
@Module
abstract class AppModule {
    
}