package {{ pkg_name }}.presentation.base

import android.os.Bundle
import android.view.View
import androidx.fragment.app.Fragment
import androidx.lifecycle.LifecycleOwner
import {{ pkg_name }}.dagger.{{ app_name }}Injectable
import dagger.android.DispatchingAndroidInjector
import javax.inject.Inject

abstract class {{ app_name }}Fragment : Fragment(), {{ app_name }}Injectable {
    @Inject
    lateinit var dispatchingAndroidInjector: DispatchingAndroidInjector<Fragment>

    override fun onViewCreated(view: View, savedInstanceState: Bundle?) {
        super.onViewCreated(view, savedInstanceState)
        bindViewModel(viewLifecycleOwner)
    }

    protected open fun bindViewModel(lifecycleOwner : LifecycleOwner) { }

    protected fun dismiss() {
        childFragmentManager.popBackStackImmediate()
    }
}