package {{ pkg_name }}.dagger

/**
 * Only used for Dagger. Our AppInjector will check if a given activity/fragment is `injectable`
 * and only inject the dependencies if it is
 */
interface {{ app_name }}Injectable